<?php

$db_host = 'localhost';
$db_user = 'processmaker';
$db_pass = 'password';
$db_name = 'pmmanager';

$workspace_template = 'file/to/template.tar';

$processmaker_cmd = '/dir/to/processmaker';

$processmaker_shared = '/dir/to/the/shared/folder';

$supervisor_dir = '/dir/to/store/config/for/supervisor.d/';
$supervisor_template = '/dir/to/supervisor/template/supervisor.template';

$backup_dir = '/dir/to/backups';

?>
